
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
    
}
#contentoverall{
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: space-evenly;
    gap: 30px;  
}
#outer1{
    margin-left:3vh;
    margin-right: 3vh;
    font-size: 6vh  ;
    text-align: center;
    padding-top: 2vh;
}
#outer2{
    font-size: 2.7vh;
    text-align: center;
    margin-left:3vh;
    margin-right: 3vh;
    margin-bottom: 4%;
}
.card{
    height: 60%;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid grey;
    border-radius: 3%;
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-shrink: 0;
}
img{
    height: 80%;
    width: 90%;
    margin: 3%;
    border-radius: 2%;
}
.content1{
    font-size: 3.5vh;
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
}
.content2{
    font-size: 2vh;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
}
.content3{
    font-size: 3vh
}
hr{
    border-radius: 10%;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;

}
#footer{
    color: rgb(193, 192, 192);
    font-size: small;
}
@media (min-width:1200px){

html,body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(233, 233, 249, 0.756);
}
#contentoverall{
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 300px 300px 300px 300px;
    padding-bottom: 170px;
    align-items: center;
    margin-left: 20px;
    color: #36353571;
    perspective: 1000px;
}
#outer2{
    padding-bottom:55px;
}
.card{
    height: 120%;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid grey;
    border-radius: 3%;
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-shrink: 0;
}
.card:hover{
    transform: scale(1.2); 
    color: rgb(243, 242, 242);
    background-color: rgb(64, 64, 64);
}
img{
    height: 90%;
    width: 90%;
    margin: 3%;
    border-radius: 2%;
    opacity: .9;
}
img:hover{
    opacity: 1;
}
.content1{
    text-align: center;
}
.content2{
    text-align: center;
}
.content3{
    text-align: center;
    padding-bottom: 2%;
}
hr{
    border-radius: 10%;
    width: 90%;
    margin-top: 0%;
    margin-left: 4%;
    margin-right: 4%;
}
}
#footer{
    text-align: center;
    padding-top: 1%;
}
